.container {
  width: 1140px;
  margin: 0 auto;
}
.timeline_body {
  display: flex;
  gap: 5px;
}
.timeline_months {
  margin: 0 50px;
  display: flex;
  gap: 55px;
}

.months {
  color: #959494;
  font-size: 16px;
}

.timeline_weekDay {
  display: inline-flex;
  flex-direction: column;
  gap: 2.5px;
}

.weekDays {
  font-size: 16px;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  height: 17px;
  color: #959494;
}
.timeline_cells {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc((16 + 2) * 9px);
}

.cell {
  width: 17px;
  height: 17px;
  margin: 2px;
  /* border-radius: 2px; */
  background-color: #ededed;
}

.cell:hover {
  border: 1px solid #000;
  margin: 0;
}
